.form {
  display: block;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
}

.form__input {
  padding: 0.4rem 1rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  font-size: inherit;
}

.form__btn {
  display: block;
  padding: 0.5rem 1rem;
  border: none;
  width: 7rem;
  border-radius: 0 0.5rem 0.5rem 0;
  background-color: rgb(83, 190, 128);
  font-size: inherit;
  &:hover {
    filter: brightness(1.5);
    transform: scale(1.1);
    box-shadow: 0 0.2rem 0.5rem white;
  }
}

@media (max-width: 600px) {
  .form {
    margin: 1rem 0;
    font-size: 0.9rem;
  }
}
