.app__error {
  background-image: url("/fondo/fondo4.jpg");
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  opacity: 95%;
}
.error__card {
  background-color: black;
  width: 30%;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  color: rgb(245, 15, 15);
  text-align: center;
}

.error__title {
  font-size: 2rem;
}

.error__btn {
    width: 10rem;
    font-size: 2rem;
    background-color: rgb(116, 230, 116);
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 1rem white;
    &:hover{
        transform: scale(1.1);
    }
}

@media (max-width: 600px) {
  .error__card {
    width: 80%;
  }
  .error__title {
    font-size: 1.5rem;
  }
  .error__btn {
    font-size: 1.5rem;
    width: 8rem;
  }
}
